---
import type { MarkdownLayoutProps } from 'astro';
import { Code } from 'astro/components';

import Layout from './Layout.astro';
import Nav from '$components/docs/Nav.astro';
import InstallationMDX from '../content/installation.mdx';

import sizes from '../data/sizes.json';

type Props = MarkdownLayoutProps<{
	title: string;
	tagline: string;
}>;

const { frontmatter } = Astro.props;
const { tagline, title, url } = frontmatter;

const framework = url?.split('/').at(-1) as keyof typeof sizes;
const size = sizes[framework];
---

<Layout title={title}>
	<section class="docs-container">
		<aside>
			<Nav />
		</aside>

		<main>
			<article>
				<h1>
					@neodrag/<span style={`color: var(--app-color-brand-${framework})`}
						>{framework}</span
					>
				</h1>
				<p>{tagline}</p>

				<!-- TODO: Replace this with a component that opens a mini dialog on click to show what it does. -->
				<button class="tag">
					{size}KB min+br
				</button>

				<InstallationMDX framework={framework} />

				<slot />

				<h2>Credits</h2>
				<p>
					Inspired from the amazing
					<a href="https://github.com/react-grid-layout/react-draggable">
						react-draggable
					</a>
					library, and implements the same API.
				</p>
			</article>
		</main>
	</section>
</Layout>

<style lang="scss">
	.docs-container {
		display: grid;
		grid-template-columns: 300px auto;
		gap: 1rem;

		width: 100%;
		height: auto;
	}

	aside {
		height: 100%;
	}

	.all-examples-container {
		display: grid;
		place-items: center;

		padding: 1rem;
	}

	main {
		min-width: 0;
		height: 100vh;

		padding-right: 1rem;

		overflow-y: auto;
		scroll-behavior: smooth;
	}

	// article {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// }

	.docs-container {
		:global(p, pre.astro-code) {
			max-width: var(--entity-width);
		}

		:global(p, a) {
			margin: 1.5rem 0;

			font-size: 1.2rem;
			line-height: 1.618;
		}

		:global(h1, h2, h3, h4, h5) {
			--anchor-opacity: 1;

			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		:global(:where(h1, h2, h3, h4, h5):hover) {
			--anchor-opacity: 1;
		}

		:global(:where(.heading-anchor)) {
			opacity: var(--anchor-opacity);

			font-family: var(--app-font-family-mono);
			font-size: 0.7em;
			text-decoration: none;

			height: auto;
		}
	}
</style>

<style lang="scss" is:global>
	:root {
		--entity-width: clamp(400px, 60vw, 800px);
	}

	body {
		overflow: hidden;
	}

	pre.astro-code {
		--font-size: 1rem;
		border-radius: 0.6rem;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 1rem;
		font-size: var(--font-size) !important;
		line-height: 1.5 !important;
		margin: 1.5rem 0;

		width: var(--entity-width);
	}
</style>
