---
import '@fontsource-variable/jetbrains-mono';
import '@fontsource-variable/eb-garamond';
// import '@fontsource/plus-jakarta-sans/400.css';
// import '@fontsource/plus-jakarta-sans/500.css';
import '../css/globals.css';

import PawCursor from '$components/PawCursor.svelte';
import { SEO } from 'astro-seo';
import { ClientRouter } from 'astro:transitions';

export interface Props {
	title: string;
}

const { title } = Astro.props;

const framework = /\/docs\/(svelte|react|solid|vanilla|vue)/gi.exec(Astro.url.pathname)?.[1];
---

<!doctype html>
<html lang="en">
	<head>
		<ClientRouter fallback="swap" />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="theme-color" content="black" />

		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>

		<SEO
			canonical={`https://www.neodrag.dev${Astro.url.pathname}`}
			description="Your one stop solution for anything draggable with JavaScript. Adapters for React, Svelte, Vue, SolidJS and JavaScript. Fully TypeScript compliant."
			openGraph={{
				basic: {
					image: 'https://www.neodrag.dev/banner.png',
					title,
					type: 'website',
					url: `https://www.neodrag.dev${Astro.url.pathname}`,
				},
			}}
			twitter={{
				card: 'summary_large_image',
				creator: '@puruvjdev',
				site: 'neodrag.dev',
			}}
		/>
	</head>

	<body data-framework={framework}>
		<script is:inline data-astro-rerun>
			function parse_theme_storage(storage_value) {
				if (!storage_value) return null;

				let parsed = null;
				try {
					parsed = JSON.parse(storage_value);
				} catch {}

				if (!parsed)
					return {
						current: 'light',
						preference: 'system',
					};

				if (!Array.isArray(parsed) || parsed.length < 2) return null;

				const meta = parsed[0];
				const current_theme = parsed[1]; // "dark" or "light"
				const has_system_indicator = parsed.length > 2 && parsed[2] === 'system';

				// preference: 1 = specific theme chosen, 2 = system preference
				const preference = meta.preference === 2 || has_system_indicator ? 'system' : current_theme;

				return {
					preference, // "system", "light", or "dark"
					current: current_theme, // "light" or "dark"
				};
			}

			function do_it() {
				const local_theme = parse_theme_storage(localStorage.getItem('neodrag:theme'));

				let theme = local_theme.current;
				if (local_theme.preference === 'system') {
					theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
				}

				document.body.dataset.theme = theme;
			}

			do_it();
		</script>

		<div>
			<slot />
		</div>

		<PawCursor client:only="svelte" />

		<script is:inline>
			(function (c, l, a, r, i, t, y) {
				c[a] =
					c[a] ||
					function () {
						(c[a].q = c[a].q || []).push(arguments);
					};
				t = l.createElement(r);
				t.async = 1;
				t.src = 'https://www.clarity.ms/tag/' + i;
				y = l.getElementsByTagName(r)[0];
				y.parentNode.insertBefore(t, y);
			})(window, document, 'clarity', 'script', 'fc1eo18wuc');
		</script>
	</body>
</html>
