---
import '@fontsource/jetbrains-mono/400.css';
import '@fontsource/jetbrains-mono/500.css';
import '@fontsource/jetbrains-mono/600.css';
import '@fontsource/plus-jakarta-sans/400.css';
import '@fontsource/plus-jakarta-sans/500.css';
import '../css/globals.scss';

import PawCursor from '$components/PawCursor.svelte';
import { SEO } from 'astro-seo';
import { ClientRouter } from 'astro:transitions';
import ThemeWatcher from './ThemeWatcher.svelte';

export interface Props {
	title: string;
}

const { title } = Astro.props;

const body_class = /\/docs\/(svelte|react|solid|vanilla|vue)/gi.exec(Astro.url.pathname)?.[1];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<ClientRouter />

		<!-- <script>
			import { theme } from '$state/user-preferences.store';

			const themeLocal = JSON.parse(localStorage.getItem('neodrag:theme')!);

			if (!themeLocal) {
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					theme.set('dark');
				} else {
					theme.set('light');
				}
			} else {
				theme.set(themeLocal);
			}

			theme.subscribe(($theme) => {
				document.body.classList.remove('dark', 'light');
				document.body.classList.add($theme);
			});
		</script> -->

		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>

		<SEO
			canonical={`https://www.neodrag.dev${Astro.url.pathname}`}
			description="Your one stop solution for anything draggable with JavaScript. Adapters for React, Svelte, Vue, SolidJS and JavaScript. Fully TypeScript compliant."
			openGraph={{
				basic: {
					image: 'https://www.neodrag.dev/banner.png',
					title,
					type: 'website',
					url: `https://www.neodrag.dev${Astro.url.pathname}`,
				},
			}}
			twitter={{
				card: 'summary_large_image',
				creator: '@puruvjdev',
				site: 'neodrag.dev',
			}}
		/>

		<script is:inline>
			// Get localstorage value
			const localTheme = JSON.parse(localStorage.getItem('neodrag:theme')) || 'light';

			const prefersTheme = window.matchMedia('(prefers-color-scheme: dark)').matches;

			const theme = localTheme || (prefersTheme ? 'dark' : 'light');

			document.body.classList.remove('light', 'dark');
			document.body.classList.add(theme);

			localStorage.setItem('neodrag:theme', JSON.stringify(theme));
		</script>
	</head>

	<body data-framework={body_class}>
		<ThemeWatcher client:load />

		<slot />

		<PawCursor client:only="svelte" />

		<script type="text/javascript">
			(function (c, l, a, r, i, t, y) {
				c[a] =
					c[a] ||
					function () {
						(c[a].q = c[a].q || []).push(arguments);
					};
				t = l.createElement(r);
				t.async = 1;
				t.src = 'https://www.clarity.ms/tag/' + i;
				y = l.getElementsByTagName(r)[0];
				y.parentNode.insertBefore(t, y);
			})(window, document, 'clarity', 'script', 'fc1eo18wuc');
		</script>
	</body>
</html>
