---
import '@fontsource-variable/jetbrains-mono';
import '@fontsource/plus-jakarta-sans/400.css';
import '@fontsource/plus-jakarta-sans/500.css';
import '../css/globals.css';

import PawCursor from '$components/PawCursor.svelte';
import { SEO } from 'astro-seo';
import { ClientRouter } from 'astro:transitions';
import ThemeWatcher from './ThemeWatcher.svelte';

export interface Props {
	title: string;
}

const { title } = Astro.props;

const framework = /\/docs\/(svelte|react|solid|vanilla|vue)/gi.exec(Astro.url.pathname)?.[1];
---

<!doctype html>
<html lang="en">
	<head>
		<ClientRouter fallback="swap" />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>

		<SEO
			canonical={`https://www.neodrag.dev${Astro.url.pathname}`}
			description="Your one stop solution for anything draggable with JavaScript. Adapters for React, Svelte, Vue, SolidJS and JavaScript. Fully TypeScript compliant."
			openGraph={{
				basic: {
					image: 'https://www.neodrag.dev/banner.png',
					title,
					type: 'website',
					url: `https://www.neodrag.dev${Astro.url.pathname}`,
				},
			}}
			twitter={{
				card: 'summary_large_image',
				creator: '@puruvjdev',
				site: 'neodrag.dev',
			}}
		/>
	</head>

	<body transition:persist data-framework={framework}>
		<script is:inline data-astro-rerun>
			function do_it() {
				// Get localstorage value
				const localTheme = JSON.parse(localStorage.getItem('neodrag:theme')) || 'light';

				const prefersTheme = window.matchMedia('(prefers-color-scheme: dark)').matches;

				const theme = localTheme || (prefersTheme ? 'dark' : 'light');

				document.body.classList.remove('light', 'dark');
				document.body.classList.add(theme);
			}

			do_it();
		</script>

		<ThemeWatcher client:load />

		<div>
			<slot />
		</div>

		<PawCursor client:only="svelte" />

		<script is:inline>
			(function (c, l, a, r, i, t, y) {
				c[a] =
					c[a] ||
					function () {
						(c[a].q = c[a].q || []).push(arguments);
					};
				t = l.createElement(r);
				t.async = 1;
				t.src = 'https://www.clarity.ms/tag/' + i;
				y = l.getElementsByTagName(r)[0];
				y.parentNode.insertBefore(t, y);
			})(window, document, 'clarity', 'script', 'fc1eo18wuc');
		</script>
	</body>
</html>
