---
import type { MarkdownLayoutProps } from 'astro';

import DocsLayout from './DocsLayout.astro';

import type { Framework } from '$helpers/constants';
import SIZES from '../data/sizes.json';

type Props = MarkdownLayoutProps<{
	title: string;
	tagline: string;
}>;

const { frontmatter } = Astro.props;
const { tagline, title, url } = frontmatter;

const framework = url?.split('/').at(-1) as Framework;
const { size, version } = SIZES[framework];
---

<DocsLayout title={title}>
	<h1>
		@neodrag/<span style={`color: var(--app-color-brand-${framework})`}
			>{framework}</span
		>
	</h1>

	<div class='tags'>
		<span class='tag'>
			{version}
		</span>

		<span class='tag'>
			{size}KB
		</span>
	</div>

	<p>{tagline}</p>

	<slot />

	<h2>Credits</h2>
	<p>
		Inspired from the amazing
		<a href='https://github.com/react-grid-layout/react-draggable'>
			react-draggable
		</a>
		library, and implements the same API.
	</p>
</DocsLayout>

<style lang='scss'>
	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		margin: 0.5rem 0 1rem;
	}

	.tag {
		background: hsla(var(--secondary-color-hsl), 0.1);
		border-radius: 24px;
		color: var(--secondary-color);
		display: inline-block;
		font-size: 0.9rem;
		font-weight: 600;
		line-height: 1;
		padding: 0.75rem 0.75rem;
	}
</style>
